* {
    margin: 0;
    box-sizing: border-box;
}

.hero {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: white;
}

#logo {
    position: absolute;
    left: 16.6%;
    padding-top: 20px;
    display: inline-block;
    width: 50%;
}

#logo a {
    font-size: 2.2em;
    text-decoration: none;
    letter-spacing: 3px;
    color: #1699c6;
    font-weight: bold;
}

#logo a span {
    color: #18a94a
}

#right-sec {
    position: absolute;
    display: flex;
    right: 16.6%;
    top: 25px;
}
.hero ul {
    list-style-type: none;
    padding-top: 10px;   
}

.hero ul li {
    display: inline;
    padding-right: 4px;
    border-right: 2px solid black;
}

.hero ul li:last-child{
    border-right: none;
    padding-right: 20px;
}

.buttons {
    /* display: inline-block; */
    padding-bottom: 20px;
}

.buttons button {
    color: white;
    padding: 15px 27px;
    border: 0px;
    text-transform: uppercase;
}

#s-up {
    background-color: #18a94a;
}

#sp {
    background-color: #7dc242;
}

.navigator{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    background-color: #1699c6;
}

.navigator ul {
    list-style-type: none;
    text-align: center;
}

.navigator ul li {
    display: inline-block;
    height: 100px;
    padding-top: 40px;
    margin-right: 70px;
    color: white;
    text-transform: uppercase;
}

.navigator ul li:hover{
    background-color: #18a94a;
}

.mid {
    width: 100%;
    height: 1000px;
    background-color: black;
}














footer {
    position: static;
    width: 100%;
    height: 250px;
    background-color: #eeeeee;
}

.top-footer {
    width: 100%;
    height: 90px;
    background-color: #eeeeee;
}

#bot-logo {
    position: absolute;
    left: 16.6%;
    padding-bottom: 20px;
    display: inline-block;
    width: 50%;
    margin-top: 22px;
}

#bot-logo a {
    font-size: 2.2em;
    text-decoration: none;
    letter-spacing: 3px;
    color: #1699c6;
    font-weight: bold;
}

#bot-logo a span {
    color: #18a94a
}

.bot-navigator {
    position: absolute;
    display: flex;
    right: 16.6%;
    margin-top: 35px;
}

.bot-navigator ul {
    list-style-type: none;
}

.bot-navigator ul li {
    display: inline;
    padding-left: 30px;
    text-transform: uppercase;
    color: #1699c6;
    font-weight: bold;
    font-size: .8em;
}

.mid-footer {
    position: static;
    width: 100%;
    height: 90px;
    background-color: #dfdfdf;
}

.mid-footer div {
    display: inline-flex;
    margin: 20px 100px 20px;
    transform: scale(0.8);
}

.mid-footer div img {
    margin-right: 10px;
}

.bot-footer {
    position: static;
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
}

.bot-footer p {
    text-align: center;
    margin: 30px;
    font-size: smaller;
}