@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Raleway:wght@500;700;900&display=swap');


.mid__banner p {
    position: absolute;
    left: 16.6%;
    top: 30%;
    font-size: 2em;
    font-family: 'Raleway', sans-serif; 
    margin-left: 5px;
    color: #5b5b5b;
    font-weight: bold;
    z-index: 1;
}

.slide {
    display: none;
}

.slides {
    width: 100%;
    height: 100%;
}

.mid__banner img {
    width: 100%;
    height: auto;
}

.mid__navigator {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 1;
}

.mid__navigator ul {
    list-style-type: none;
}

.mid__navigator ul li {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    transition: 0.6s ease;
}

.dot {
    background-color: white;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.dot-active {
    background-color: #0d9247 !important;
}

.slide-active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    font-size: 2em;
    z-index: 1;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 1600px) {
    .mid__banner img {
        height: 100%;
    }

    .mid__navigator {
        left: 0px;
    }

    .mid__banner p {
        left: 12%;
    }
}

@media (max-width: 1380px) {
    .mid__banner p {
        left: 5%;
        font-size: 30px;
        width: 500px;
    }
}